{% extends 'base.html.twig' %}
{% block style_block %}
    {% include "includes/repo.css.twig" %}
{% endblock style_block %}


{% block content_block %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Actived Repos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="script-tab" data-toggle="tab" href="#script" role="tab" aria-controls="script" aria-selected="false">Script</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Archived Repos</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <ul class="list-group list-group-flush">
      {% for repo in repos %}
          {% include "includes/repo.html.twig" %}
      {% endfor %}
      </ul>
  </div>
  <div class="tab-pane fade" id="script" role="tabpanel" aria-labelledby="script-tab">
      {% include "includes/repo_code.html.twig" %}
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <ul class="list-group list-group-flush">
      {% for repo in repos %}
          {% include "includes/repo_archieved.html.twig" %}
      {% endfor %}
      </ul>
  </div>
</div>

{% endblock content_block %}
