{% if repo.archived == false %}
<li class="list-group-item">
{% include "includes/repo_badges.html.twig" %}
<div class="d-inline w-25 p-3">
    {{ repo.full_name|e }}
    <a href="{% if repo.homepage is empty %}{{ repo.html_url}}{% else %}{{ repo.homepage}}{% endif %}"  class="repo.name" target="_blank">
        <i class="fab fa-github-alt"></i>
    </a>
</div>
{% include "includes/repo_description.html.twig" %}
</li>
{% endif %}
